version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: mongo_db
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
      MONGO_INITDB_DATABASE: bookstore
    volumes:
      - mongodb_data:/data/db
    ports:
      - "27017:27017"
    networks:
      - app-network

  backend:
    build: ./backend
    container_name: backend_app
    environment:
      DB_CONNECTION: mongodb://admin:password@mongodb:27017/bookstore?authSource=admin
      PORT: 5555
      JWT_SECRET: your-key-here
    ports:
      - "5555:5555"
    depends_on:
      - mongodb
    networks:
      - app-network
    volumes:
      - ./backend:/app
      - /app/node_modules

  frontend:
    build: ./frontend
    container_name: frontend_app
    environment:
      VITE_API_URL: http://localhost:5555
    ports:
      - "8080:8080"
    depends_on:
      - backend
    networks:
      - app-network

volumes:
  mongodb_data:

networks:
  app-network:
    driver: bridge